input {
  background-color: white;
  padding: 1rem;
  border: 0.1rem solid #4e0eff;
  border-radius: 0.4rem;
  color: #00000076;
  width: 100%;
  font-size: 1rem;
}

input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

.success:focus {
  border: 0.1rem solid #1dbb0f;
  outline: none;
}

.required:focus {
  border: 0.1rem solid #ff0e2e;
  outline: none;
}
