button {
  background-color: #ff541f;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}
button:hover {
  background-color: #cf3607;
}
