.avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;

  gap: 2rem;
}

img {
  border-radius: 100%;
  height: 6rem;
}

.avatar {
  border: 0.4rem solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;

  height: 6rem;
  width: 6rem;
}

.avatar-light:hover {
  transform: scale(1.04);
  transition: all 0.3s ease;
  border-radius: 100%;
}

.avatar-dark:hover {
  transform: scale(1.04);
  transition: all 0.3s ease;
  border-radius: 100%;
}

.selected-light {
  border-radius: 100%;
  border: 0.4rem solid #0072f5;
}
.selected-dark {
  border-radius: 100%;
  border: 0.4rem solid white;
}

@media (max-width: 600px) {
  .avatars {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
