.chat-messages-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: var(--nextui-colors-primary);
  border-radius: 15px;

  padding: 0.8rem;
}

.chat-notification-area {
  display: flex;

  width: 100%;
  height: 50px;
}

.messages {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  width: 100%;
  height: 95%;
}

.send-message {
  display: flex;
  flex-direction: row;

  gap: 0.5rem;

  width: 100%;
  height: 5%;
}
