.message-container-receiver {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: auto;
  height: auto;

  gap: 0.5rem;
}

.message-container-sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: auto;
  height: auto;

  gap: 0.5rem;
}

.message-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  gap: 0.3rem;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  padding: 0.5rem;
}

.message-by-me {
  background: var(--nextui-colors-primary);
}

.message-by-other {
  background: var(--nextui-colors-secondary);
}
