.chat-group-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: var(--nextui-colors-primary);
  border-radius: 12px;
}

.chat-group-container::-webkit-scrollbar {
  width: 0.2rem;
}

/* .group-info {
  padding: 0.6rem !important;
} */

.group-info:hover {
  transform: scale(1.05);
}

.group-info:active {
  transform: scale(0.9);
}
