.chat-users-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: 0.7rem;

  overflow: auto;

  background-color: #0072f5;
  border-radius: 15px;

  padding: 0.8rem 0;
}

.chat-users-container::-webkit-scrollbar {
  width: 0.2rem;
}

.user-info {
  display: flex;

  justify-content: flex-start;
  width: 100%;
}

.user-info:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.user-info:active {
  transform: scale(0.9);
}

.link-info {
  color: rgb(161, 161, 161);
}

/* .chat-group-container::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
} */
