.custom-user-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 10px;

  width: auto;
  height: 50px;

  padding: 5px;
}

.custom-user-container:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.custom-user-container:active {
  transform: scale(0.9);
  transition: 0.1s ease-in;
}

.clickeable:hover {
  background-color: gray;
  border-radius: 10px;
}

.clickeable:active {
  background-color: rgb(77, 77, 77);
  border-radius: 10px;
}

.custom-user-container-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  width: 100%;
}
